div#text {
  margin: 0;
  transform: translate(100px, 50px);
  position: absolute;
}

p#upper {
  margin: 0;
  text-align: center;
  width: 100%;
  height: 49px;
  background-color: lightgrey;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: medium;
  position: fixed;
}
