html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #F8F8F8;
}

/* Lay-out */
div.layout {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;

}

/* Style for the navigationmenu */
div.navigation {
  position: fixed;
  height: 100%;
  background-color: lightgrey;
  width: 90px;
  float: left;
  z-index: 1;

}

div.navigation a {
  display: block;
  color: black;
  padding: 15px;
  text-decoration: none;
  border-bottom: medium black solid;
}

div.navigation a:hover {
color: red;
};
