/* Style for the Amsterdam map */
div.layout div#container.amsterdam {
  display:  inline-block;
  margin-left: 90px;
  float: left;
  position: absolute;

}

div.layout div#container.amsterdam p{
  display:  block;
  text-align: center;

}

div.layout div#container.amsterdam svg#amsterdamLegenda {
  display: block;
  padding-left: 15px;
  align-self: center;
}

svg#amsterdamLegenda rect {
  stroke: black;
  stroke-bottom: white;
  "fill": "url(#gradient)";
}

div.layout div#container.amsterdam svg.amsterdam{
  stroke:       black;
  stroke-width: 0.5px;
  fill:         pink;

}

div.layout div#container.areavisual {
  display: inline-block;
  position: absolute;
  margin-left: 100vh;
  margin-top: 90px;
}

div.layout div#container.areavisual svg#barChart{
  padding-top: 25px;
  display: block;
  text-align: center;
};
