/* Style for the Amsterdam map */
div.layout div#mapid.amsterdam {
  display:  inline-block;
  margin-left: 90px;
  float: left;
  position: absolute;
  height: 450px;
  width: 600px;
}

div.layout div#mapid.amsterdam p{
  display:  block;
  text-align: center;
}

div.layout div#mapid.amsterdam svg#amsterdamLegenda {
  display: block;
  padding-left: 15px;
  align-self: center;
}

svg#amsterdamLegenda rect {
  stroke: black;
  stroke-bottom: white;
  "fill": "url(#gradient)";
}

div.layout div#mapid.amsterdam svg.amsterdam path{
  stroke:       #F8F8F8;
  stroke-width: 1.5px;
}  

div.layout div#container.areavisual {
  display: inline-block;
  position: absolute;
  margin-left: 100vh;
  margin-top: 90px;
}

div.layout div#container.areavisual svg#visual{
  padding-top: 25px;
  display: block;
  text-align: center;
};

div.layout div#mapid.amsterdam svg.amsterdam {
  font-style: normal;
  font: arial;
  stroke: white;
}
