div.layout-map {
  display:    table;
  text-align: center;
  width:      100%;
  height:     100%;
}

div#container{
  display:        table-cell;
  vertical-align: middle;
}

svg.amsterdam{
  display:      inline-block;
  stroke:       black;
  stroke-width: 1px;
};
